@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --pure-white: #FFF;
    --pure-black: #000;
    --google-font-source-sans-pro: "Source Sans Pro", sans-serif;
    --google-font-metal-mania: "Metal Mania", sans-serif;
    --google-font-arimo: "Arimo", sans-serif;
    --google-font-crimson-text: "Crimson Text", sans-serif;
    --google-font-inconsolata: "Inconsolata", sans-serif;
    --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #fff;
    border-bottom: 1px solid lightgray;
}

.navbar h1 {
    margin-top: 1rem;
    font-family: var(--system-font);
    font-size: 1.5em;
}

.navbar h1 a {
    color: #000;
    text-decoration: none;
}

.navbar h1 a:hover {
    cursor: pointer;
}

.navbar nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.navbar nav ul li a i {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.4rem;
    color: #222;
}

.navbar nav ul li a i:hover {
    cursor: pointer;
    color: #111;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 2rem;
    padding-right: 2rem;
}

.inputs h2 {
    color: #000;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 5px;
    padding: 5px;
    font-family: var(--system-font);
}

.inputs .input-info {
    color: #222;
    margin-top: 15px;
    margin-bottom: 10px;
}

.inputs .input-note {
    color: #222;
    font-family: var(--google-font-crimson-text);
    font-size: 1.1rem;
}

.inputs input {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1.2px solid #333;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    background: #FFF;
    color: #000;
    width: 100%;
    font-size: 1.1rem;
}

.inputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputs div .reset {
    display: block;
    text-align: center;
    padding: 10px;
    background: #fff;
    color: #000;
    border: 1px solid #111;
    border-radius: 5px;
    font-size: 1rem;
}

.inputs div .reset:hover {
    cursor: pointer;
    background: #eee;
}

.input-info {
    font-size: 1.3rem;
}

.outputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--google-font-source-sans-pro);
    margin-left: auto;
    margin-right: auto; 
    padding-left: 2rem;
    padding-right: 2rem;
}

.outputs table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
    margin-bottom: 40px;
    width: 100%;
    margin: 0 auto 40px;
    max-width: 800px;
}

.outputs table th {
    background-color: #111;
    color: #fff;
    padding: 13px;
    border: 1px solid #000;
    vertical-align: middle;
    opacity: 0.9;
    font-size: 1.1rem;
}

.outputs table td {
    text-align: center;
    border: 1px solid black;
    padding: 9px;
}

.outputs table tr:nth-child(even) td {
    background: #eee;
}

.outputs table tr:nth-child(odd) td {
    background: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 15px; */
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.footer h2 {
    /* font-family: var(--google-font-inconsolata); */
    font-family: var(--system-font);
    margin: 10px;
    padding-left: 10px;
    font-size: 1.1em;
    color: #333;
}

.footer h2 a {
    color: #333;
    text-decoration: none;
}

.footer h2 a:hover {
    background: #444;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}